
.row1-s{
    -fx-pref-width: 706.5;
    -fx-pref-height: 50;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-text-alignment: top-center;
    -fx-spacing: 20;
}
.error-s{
    -fx-pref-width: 586.5;
    -fx-pref-height: 50;
    -fx-text-alignment: center;
    -fx-background-color: red;
    -fx-font-size: 20;
}
.text-s{
    -fx-pref-width: 706.5;
    -fx-pref-height: 400;
    -fx-font-size: 27;
}
.row2-s{
    -fx-pref-width: 706.5;
    -fx-pref-height: 80;
    -fx-padding: 17.5 0 17.5 20;
    -fx-spacing: 330;
}
.btn-l{
    -fx-pref-width: 170;
    -fx-pref-height: 45;
    -fx-font-size: 20;
    -fx-background-color: #6c6c6c;
}
.btn-l:hover{
    -fx-background-color: #bbbbbb;
}