.body-s{
    -fx-pref-width: 900 ;-fx-pref-height: 620;
    -fx-min-width: 900;-fx-min-height: 620;
    -fx-max-width: 900;-fx-max-height: 620;
    -fx-background-color: white;
}

.sep-s{
    -fx-pref-width: 600 ;-fx-pref-height: 600;
    -fx-min-width: 600;-fx-min-height: 600;
    -fx-max-width: 600;-fx-max-height: 600;
    -fx-background-color: white;
    -fx-alignment: top-left;
}