.content-s{
    -fx-pref-width: 726.5;
    -fx-min-width: 726.5;
    -fx-max-width: 726.5;
    -fx-min-height: 587;
    -fx-pref-height: 587;
    -fx-max-height: 587;
}
.list-s{
    -fx-pref-width: 709.3;
    -fx-min-width: 709.3;
    -fx-max-width: 709.3;
    -fx-min-height: 587;
}

.content-l{
    -fx-pref-width: 1032;
    -fx-min-width: 1032;
    -fx-max-width: 1032;
    -fx-min-height: 630.3;
    -fx-pref-height: 630.3;
    -fx-max-height: 630.3;
}
.list-l{
    -fx-pref-width: 1015;
    -fx-min-width: 1015;
    -fx-max-width: 1015;
    -fx-min-height: 630.3;
}

.head-s{
    -fx-pref-width: 706.5 ;-fx-pref-height: 100;
    -fx-min-width: 706.5;-fx-min-height: 100;
    -fx-max-width: 706.5;-fx-max-height: 100;
    -fx-alignment: center-left;
    -fx-spacing: 480;
}
.head-l{
    -fx-pref-width: 706.5 ;-fx-pref-height: 100;
    -fx-min-width: 706.5;-fx-min-height: 100;
    -fx-max-width: 706.5;-fx-max-height: 100;
    -fx-alignment: center-left;
    -fx-spacing: 800;
}
.image{
    -fx-pref-width: 100 ;-fx-pref-height: 100;
    -fx-min-width: 100;-fx-min-height: 100;
    -fx-max-width: 100;-fx-max-height: 100;
    -fx-border-radius: 50;
}
.edit{
    -fx-pref-width: 100 ;-fx-pref-height: 40;
    -fx-min-width: 100;-fx-min-height: 40;
    -fx-max-width: 100;-fx-max-height: 40;
    -fx-border-style: solid;
    -fx-font-size: 20;
    -fx-padding: 0 3 0 0;
    -fx-border-color: #55aced;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-text-fill: #55aced;
}

.label2{
    -fx-pref-height: 25;
    -fx-min-height: 25;
    -fx-max-height: 25;
}

.label1{
    -fx-pref-width: 680 ;
    -fx-min-width: 680;
    -fx-max-width: 680;
    -fx-text-alignment: left;
    -fx-font-size: 16;
    -fx-padding: 0 0 2 0;
}

.foot{
    -fx-pref-width: 706.5 ;-fx-pref-height: 50;
    -fx-min-width: 706.5;-fx-min-height: 50;
    -fx-max-width: 706.5;-fx-max-height: 50;
    -fx-alignment: center-left;
    -fx-spacing: 30;
    -fx-font-size: 16;

}
.btn{
    -fx-background-color: transparent;
}

.light{
    -fx-background-color: white;
    -fx-text-fill: black;
}
.dark{
    -fx-background-color: black;
    -fx-text-fill: white;
}