
.head{
    -fx-pref-width: 760 ;-fx-pref-height: 100;
    -fx-fit-to-width: 760;-fx-fit-to-height: 100;
    -fx-min-width: 760;-fx-min-height: 100;
    -fx-max-width: 760;-fx-max-height: 100;
    -fx-alignment: center-left;
    -fx-spacing: 480;
}
.image{
    -fx-pref-width: 100 ;-fx-pref-height: 100;
    -fx-fit-to-width: 100;-fx-fit-to-height: 100;
    -fx-min-width: 100;-fx-min-height: 100;
    -fx-max-width: 100;-fx-max-height: 100;
    -fx-border-radius: 50;
}
.edit{
    -fx-pref-width: 100 ;-fx-pref-height: 40;
    -fx-fit-to-width: 100;-fx-fit-to-height: 40;
    -fx-min-width: 100;-fx-min-height: 40;
    -fx-max-width: 100;-fx-max-height: 40;
    -fx-border-style: solid;
    -fx-font-size: 20;
    -fx-padding: 0 3 0 0;
    -fx-border-color: #55aced;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-text-fill: #55aced;
}

.label2{
    -fx-pref-height: 25;
    -fx-fit-to-height: 25;
    -fx-min-height: 25;
    -fx-max-height: 25;
}

.label1{
    -fx-pref-width: 680 ;
    -fx-fit-to-width: 680;
    -fx-min-width: 680;
    -fx-max-width: 680;
    -fx-text-alignment: left;
    -fx-font-size: 16;
    -fx-padding: 0 0 2 0;
}

.foot{
    -fx-pref-width: 760 ;-fx-pref-height: 50;
    -fx-fit-to-width: 760;-fx-fit-to-height: 50;
    -fx-min-width: 760;-fx-min-height: 50;
    -fx-max-width: 760;-fx-max-height: 50;
    -fx-alignment: center-left;
    -fx-spacing: 30;
    -fx-font-size: 16;

}
.btn{
    -fx-background-color: transparent;
}