.content-s{
    -fx-pref-width: 706.5;
    -fx-min-width: 706.5;
    -fx-max-width: 706.5;
}
.list-s{
    -fx-pref-width: 706.5;
    -fx-min-width: 706.5;
    -fx-max-width: 706.5;
    -fx-min-height: 400;
    -fx-padding: 20 0 0 0;
}