
.content-s {
    -fx-pref-width: 726.5;
    -fx-min-width: 726.5;
    -fx-max-width: 726.5;
    -fx-min-height: 400;
}

.list-s {
    -fx-pref-width: 709.3;
    -fx-min-width: 709.3;
    -fx-max-width: 709.3;
    -fx-min-height: 400;
    -fx-padding: 20 0 0 0;
}

.content-l {
    -fx-pref-width: 1032;
    -fx-min-width: 1032;
    -fx-max-width: 1032;
    -fx-pref-height: 500;
}

.list-l {
    -fx-pref-width: 1015;
    -fx-min-width: 1015;
    -fx-max-width: 1015;
    -fx-pref-height: 400;
    -fx-padding: 20 0 0 0;
}

.tab-l{
    -fx-pref-width: 120;
    -fx-min-width: 120;
    -fx-max-width: 120;
    -fx-pref-height: 60;
}

.tab-s{
    -fx-pref-width: 100;
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-min-height: 50;
}

Tab{
    -fx-text-alignment: center;
    -fx-font-size: 20;
}
Tab:selected{
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-color: #10a7e8;
}



.light{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.dark{
    -fx-background-color: black;
    -fx-text-fill: white;
}