/* size:
   small: */

.tweet-s {
    -fx-pref-width: 700;
    -fx-min-width: 700;
    -fx-max-width: 700;
    -fx-background-color: transparent;
}

.row1-s {
    -fx-pref-width: 700;
    -fx-max-width: 700;
    -fx-min-width: 700;
    -fx-pref-height: 50;
    -fx-max-height: 50;
    -fx-min-height: 50;
    -fx-alignment: center-left;
}


.user-pane-s {
    -fx-pref-width: 375;
    -fx-max-width: 375;
    -fx-min-width: 375;
    -fx-pref-height: 50;
    -fx-max-height: 50;
    -fx-min-height: 50;
    -fx-alignment: center-left;
    -fx-padding: 10 0 0 0;
    -fx-background-color: transparent;
}


.date {
    -fx-pref-width: 180;
    -fx-max-width: 180;
    -fx-min-width: 180;
    -fx-pref-height: 50;
    -fx-max-height: 50;
    -fx-min-height: 50;
    -fx-font-size: 11;
    -fx-padding: 0 8 0 0;
    -fx-alignment: center-right;
}

.content-s {
    -fx-pref-width: 430;
    -fx-max-width: 430;
    -fx-min-width: 430;
    -fx-min-height: 100;
    -fx-max-height: 100;
    -fx-alignment: top-left;
    -fx-font-size: 13;
    -fx-padding: 5 0 0 54;
}

.image {
    -fx-pref-width: 380;
    -fx-max-width: 380;
    -fx-min-width: 380;
    -fx-pref-height: 250;
    -fx-max-height: 250;
    -fx-min-height: 250;
}

.row4-s {
    -fx-pref-width: 700;
    -fx-max-width: 700;
    -fx-min-width: 700;
    -fx-pref-height: 40;
    -fx-max-height: 40;
    -fx-min-height: 40;
    -fx-padding: 0 0 0 50;
}

.caption-wrapper-s{
    -fx-pref-width: 235.5;
    -fx-max-width: 235.5;
    -fx-min-width: 235.5;
    -fx-pref-height: 30;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-background-color: transparent;
}

.user-icon{
    -fx-pref-width: 50;
    -fx-max-width: 50;
    -fx-min-width: 50;
    -fx-pref-height: 50;
    -fx-max-height: 50;
    -fx-min-height: 50;
}
.tweet-l {
    -fx-pref-width: 1012;
    -fx-min-width: 1012;
    -fx-max-width: 1012;
    -fx-background-color: transparent;
}

.row1-l {
    -fx-pref-width: 1012;
    -fx-max-width: 1012;
    -fx-min-width: 1012;
    -fx-pref-height: 50;
    -fx-max-height: 50;
    -fx-min-height: 50;
    -fx-alignment: center-left;
}


.user-pane-l {
    -fx-pref-width: 615;
    -fx-max-width: 615;
    -fx-min-width: 615;
    -fx-pref-height: 50;
    -fx-max-height: 50;
    -fx-min-height: 50;
    -fx-alignment: center-left;
    -fx-padding: 10 0 0 0;
    -fx-background-color: transparent;
}

.content-l {
    -fx-pref-width: 765;
    -fx-max-width: 765;
    -fx-min-width: 765;
    -fx-min-height: 150;
    -fx-max-height: 150;
    -fx-alignment: top-left;
    -fx-font-size: 13;
    -fx-padding: 5 0 0 54;
}

.row4-l{
    -fx-pref-width: 1012;
    -fx-max-width: 1012;
    -fx-min-width: 1012;
    -fx-pref-height: 40;
    -fx-max-height: 40;
    -fx-min-height: 40;
    -fx-padding: 0 0 0 50;
}

.caption-wrapper-l{
    -fx-pref-width: 320.66;
    -fx-max-width: 320.66;
    -fx-min-width: 320.66;
    -fx-pref-height: 30;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-background-color: transparent;
}

/*theme:
  dark: */

.dark{
    -fx-background-color: black;
    -fx-text-fill: white;
}

Button.dark{
    -fx-background-color: #3a3939;
    -fx-text-fill: white;
}

Button.dark:hover{
    -fx-background-color: #6e6d6d;
    -fx-cursor: hand;
}

.user-icon-d{
    -fx-background-image: url(../icons/userW.png);
    -fx-background-size: 40px 40px;
    -fx-background-radius: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #3a3939;
    -fx-background-position: center;
}
.user-icon-d:hover{
    -fx-background-color: #6e6d6d;
    -fx-cursor: hand;
}

.idn-d{
    -fx-background-color: black;
    -fx-text-fill: white;
}

.idn-d:hover{
    -fx-text-fill: #55aced;
    -fx-cursor: hand;
}

/*light mode: */
.light{
    -fx-background-color: white;
    -fx-text-fill: black;
}

Button.light{
    -fx-background-color: #e1e1e1;
    -fx-text-fill: black;
}

Button.light:hover{
    -fx-background-color: #bebdbd;
    -fx-cursor: hand;
}

.user-icon-l{
    -fx-background-image: url(../icons/userB.png);
    -fx-background-size: 40px 40px;
    -fx-background-radius: 50;
    -fx-background-repeat: no-repeat;
    -fx-background-color: #e1e1e1;
    -fx-background-position: center;
}
.user-icon-l:hover{
    -fx-background-color: #bebdbd;
    -fx-cursor: hand;
}

.idn-l{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.idn-l:hover{
    -fx-text-fill: #55aced;
    -fx-cursor: hand;
}



